<div style="background-color: aliceblue; min-height: 91vh;">
    <div style="padding: 10px;"></div>
    <div style="margin-top: 10px;" class="child" *ngFor="let car of cars">
    <div nz-row>
        <div nz-col nzSpan="8">
            <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;" [src]="car.processedImg" alt="profile" />
        </div>
        <div nz-col nzSpan="16">
         <h2 style="cursor: pointer ;color: rgb(56, 10, 238);">
        {{car.brand}}: {{car.name}}</h2>
        <p>{{car.description}}</p>
        <hr>
        <h5>
            Price: <b>{{car.price}}</b>
            Color: <b>{{car.color}}</b>
            Type: <b>{{car.type}}</b>
            Transimission: <b>{{car.transimission}}</b>
            Year: <b>{{car.year | date: 'yyyy'}}</b>
        </h5>
        <hr>
    
    </div>

    </div>
    
    </div>

</div>